h1{color:blueviolet}
h2{color:darkcyan}
p{color:black}
p{font-family: Verdana, Geneva, Tahoma, sans-serif;}
h1{font-family: Verdana, Geneva, Tahoma, sans-serif;}
h2{font-family: Verdana, Geneva, Tahoma, sans-serif;}
ul{font-family: Verdana, Geneva, Tahoma, sans-serif;}
ul{color:black}
p{text-align: justify;}
footer{font-family: Verdana, Geneva, Tahoma, sans-serif;}
table{font-family: Verdana, Geneva, Tahoma, sans-serif;}

